<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <style>
    html, body {
      margin: 0;
      height: 100%;
      overflow-x: hidden;
    }

    .prototype-container {
      position: absolute;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
    }

    .prototype-container ::-webkit-scrollbar {
      display: none;
    }

    .artboard {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      display: block;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
      overflow: hidden;
      background-color: white;
    }

    .artboard:not(.is-active) {
      pointer-events: none;
    }

    .artboard-scroll-container,
    .artboard-fixed-container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .artboard-fixed-container {
      pointer-events: none;
    }

    .artboard-scroll-container {
      overflow: scroll;
    }

    .artboard-content {
      position: absolute;
      left: 0;
      top: 0;
      background-size: contain;
    }

    .hotspot {
      cursor: pointer;
      position: absolute;
      opacity: 0;
    }

    body[can-show-hotspots] .hotspot {
      background-color: rgba(239, 108, 0, .2);
      box-shadow:
          0 0 0 3px rgba(239, 108, 0, .5) inset,
          0 4px 8px rgba(239, 108, 0, .25);
      border-radius: 1px;
    }

    .highlight-hotspots .hotspot {
      animation: hotspotAnimation .6s ease;
    }

    @keyframes hotspotAnimation {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  </style>
</head>
<body <%= showHotspots ? 'can-show-hotspots' : '' %>>

  <div class="prototype-container">
  </div>

  <script>
    class Spring {
      constructor(_damping, response, initial) {
        let force = (2 * Math.PI / response) ** 2;
        let damping = _damping * (2 * Math.sqrt(force));
        this._constructor(force, damping, initial);
      }
      setDampingResponse(_damping, response) {
        this.force = (2 * Math.PI / response) ** 2;
        this.damping = _damping * (2 * Math.sqrt(this.force));
      }
      _constructor(force, damping, initial = 0) {
        this.force = force;
        this.damping = damping;
        this.value = initial;
        this.target = initial;
        this.velocity = 0;
        this.tolerance = 1 / 100;
        this.callback = () => {};
        this.running = false;
      }
      update(elapsed) {
        let timeLeft = Math.min(elapsed, 1);
        while (timeLeft > 0) {
            let dt = Math.min(1 / 60, timeLeft);
            let force = this.currentForce();
            this.value += this.velocity * dt;
            this.velocity += force * dt;
            timeLeft -= dt;
        }
      }
      currentForce() {
        if (this.target === null) {
            return -this.damping * this.velocity;
        }
        return -this.force * (this.value - this.target) - this.damping * this.velocity;
      }
      needsUpdate(tolerance) {
        return Math.abs(this.value - this.target) > tolerance || Math.abs(this.velocity) > tolerance;
      }
      run() {
        if (this.running) return;
        this._runID = Math.random();
        this.lastTime = Date.now();
        this.runLoop(this._runID);
      }
      runLoop(id) {
        if (id !== this._runID) return;
        if (this.needsUpdate(this.tolerance)) {
            requestAnimationFrame(() => this.runLoop(id));
            this.running = true;
        } else {
            this.value = this.target;
            this.callback(this.value);
            this.running = false;
            return;
        }
        let elapsed = (Date.now() - this.lastTime) / 1000;
        this.lastTime = Date.now();
        this.update(elapsed);
        this.callback(this.value);
      }
      static run(damping, response, initial, target, f, tol, vel) {
        let s = new Spring(damping, response, initial);
        s.target = target;
        s.callback = f;
        if (tol) s.tolerance = tol;
        if (vel) s.velocity = vel;
        s.run();
        return s;
      }
    }

    const AnimationType = {
      none: -1,
      slideFromRight: 0,
      slideFromLeft: 1,
      slideFromBottom: 2,
      slideFromTop: 3,
      getDeltaForType (type) {
        switch (type) {
        case AnimationType.none:
          return [0, 0];
        case AnimationType.slideFromLeft:
          return [-1, 0];
        case AnimationType.slideFromRight:
          return [1, 0];
        case AnimationType.slideFromTop:
          return [0, -1];
        case AnimationType.slideFromBottom:
          return [0, 1];
        }
      }
    };

    class Proto {
      constructor(prototypeData) {
        this.prototypeData = prototypeData;
        this.historyStack = [];
        this.buildUi();
      }

      buildUi() {
        this.buildArtboards();

        if (this.prototypeData.title) {
            document.title = this.prototypeData.title;
        }

        window.addEventListener('hashchange', () => {
            // this.setArtboardVisible(this.getUrlInfo().artboardId);
        });

        document.addEventListener('click', () => {
            if (this.shouldSuppressHotspotReveal_) {
                return;
            }

            document.body.classList.remove('highlight-hotspots');
            let f = document.body.offsetWidth;
            document.body.classList.add('highlight-hotspots');
        });

        window.addEventListener('resize', () => this.resize());

        this.setArtboardVisible(this.getUrlInfo().artboardId);

        this.historyStack.push({
            artboard: document.querySelector('.artboard.is-active'),
            animationType: AnimationType.none,
        });
        this.setArtboardStyle(this.historyStack[0].artboard, 1, 0, 0);
      }

      resize() {
        let width = this.startArtboard.viewportWidth || this.startArtboard.width;
        let height = this.startArtboard.viewportHeight || this.startArtboard.height;
        if (this.currentArtboard.viewportWidth && this.currentArtboard.viewportHeight) {
            width = this.currentArtboard.viewportWidth;
            height = this.currentArtboard.viewportHeight;
        }

        let xScale = window.innerHeight / height;
        let yScale = window.innerWidth / width;
        Object.assign(document.querySelector('.prototype-container').style, {
            width: width + 'px',
            height: height + 'px',
            zoom: Math.min(1, Math.min(xScale, yScale)),
        });
      }

      getUrlInfo() {
        let hash = window.location.hash;

        return {
            artboardId: hash ? hash.substring(1) : this.prototypeData.flowStartArtboardId,
        };
      }

      buildArtboards() {
        Object.keys(this.prototypeData.artboards).forEach(id => {
          let artboardData = this.prototypeData.artboards[id];
          let artboard = document.createElement('div');
          artboard.className = 'artboard';
          artboard.dataset.artboardId = id;
          document.querySelector('.prototype-container').appendChild(artboard);

          // add scrollable content
          let artboardScrollContainer = document.createElement('div');
          artboardScrollContainer.className = 'artboard-scroll-container';
          artboard.appendChild(artboardScrollContainer);
          let artboardScrollableContent = document.createElement('div');
          artboardScrollableContent.className = 'artboard-content';
          Object.assign(artboardScrollableContent.style, {
            backgroundImage: `url(${id}.png)`,
            width: artboardData.width + 'px',
            height: artboardData.height + 'px',
          });
          artboardScrollContainer.appendChild(artboardScrollableContent);

          // add fixed content
          if (artboardData.hasFixedLayers) {
            let artboardFixedContainer = document.createElement('div');
            artboardFixedContainer.className = 'artboard-fixed-container';
            artboard.append(artboardFixedContainer);
            let artboardFixedContent = document.createElement('div');
            artboardFixedContent.className = 'artboard-content';
            Object.assign(artboardFixedContent.style, {
              backgroundImage: `url(${id}_fixed.png)`,
              width: artboardData.width + 'px',
              height: artboardData.height + 'px',
            });
            artboardFixedContainer.appendChild(artboardFixedContent);
          }

          if (id == this.prototypeData.flowStartArtboardId) {
            // this is the start artboard
            this.startArtboard = artboardData;
            this.currentArtboard = artboardData;
          }

          artboardData.hotspots.forEach(hotspotData => {
            let hotspot = document.createElement('div');
            hotspot.className = 'hotspot';
            hotspot.dataset.artboardId = id;
            Object.assign(hotspot.style, {
              left: hotspotData.rectangle.x + 'px',
              top: hotspotData.rectangle.y + 'px',
              width: hotspotData.rectangle.width + 'px',
              height: hotspotData.rectangle.height + 'px',
            });
            if (hotspotData.isFixed) {
              // don't add to artboardFixedContent because of pointer-events:none
              artboard.appendChild(hotspot);
            } else {
              artboardScrollableContent.appendChild(hotspot);
            }
            hotspot.addEventListener('click', event => {
              this.gotoTarget(hotspotData.target, hotspotData.animationType)
              event.stopPropagation();
            });
          });
        });
      }

      gotoTarget(target, animationType) {
        if (target == 'back') {
          // history.back();
          this.goBack();
          return;
        }

        this.gotoArtboard(target, animationType);
      }

      setArtboardStyle(artboard, opacity, dx, dy) {
        Object.assign(artboard.style, {
          opacity,
          transform: `translate(${dx * 100}%, ${dy * 100}%)`
        });
      }

      goBack() {
        if (this.historyStack.length === 1) return;
        let { artboard, animationType } = this.historyStack.pop();
        let prevArtboard = this.historyStack[this.historyStack.length - 1].artboard;

        prevArtboard.classList.add('is-active');
        artboard.classList.remove('is-active');
        this.resize();

        if (animationType === AnimationType.none) {
          this.setArtboardStyle(prevArtboard, 1, 0, 0);
          this.setArtboardStyle(artboard, 0, 0, 0);
        } else {
          Spring.run(1, 0.4, 0, 1, p => {
              let [dx, dy] = AnimationType.getDeltaForType(animationType);
              this.setArtboardStyle(artboard, 1, dx * p, dy * p);
              this.setArtboardStyle(prevArtboard, 1, -dx * (1 - p) / 2, -dy * (1 - p) / 2);
          }, 1 / 1000);
        }
      }

      gotoArtboard(artboardId, animationType) {
        // window.location.href= '#' + artboardId;

        let prevArtboard = this.historyStack[this.historyStack.length - 1].artboard;
        let artboard = document.querySelector(`.artboard[data-artboard-id="${artboardId}"]`);

        prevArtboard.classList.remove('is-active');
        artboard.classList.add('is-active');
        artboard.style.zIndex = this.historyStack.length;
        this.resize();

        this.historyStack.push({ artboard, animationType });

        if (animationType === AnimationType.none) {
          this.setArtboardStyle(prevArtboard, 0, 0, 0);
          this.setArtboardStyle(artboard, 1, 0, 0);
        } else {
          Spring.run(1, 0.4, 1, 0, p => {
              let [dx, dy] = AnimationType.getDeltaForType(animationType);
              this.setArtboardStyle(artboard, 1, dx * p, dy * p);
              this.setArtboardStyle(prevArtboard, 1, -dx * (1 - p) / 2, -dy * (1 - p) / 2);
          }, 1 / 1000);
        }
      }

      setArtboardVisible(artboardId) {
        this.currentArtboard = this.prototypeData.artboards[artboardId];

        let scrollContainer = document.querySelector('.artboard-scroll-container');
        scrollContainer.scrollLeft = scrollContainer.scrollTop = 0;

        document.body.classList.remove('highlight-hotspots');
        document.querySelectorAll('.artboard').forEach(artboard => artboard.classList.remove('is-active'));
        document.querySelector(`.artboard[data-artboard-id="${artboardId}"]`).classList.add('is-active');

        this.resize();
      }
    }
  </script>
  <script>
    new Proto(
      <%= JSON.stringify(prototypeData) %>
    );
  </script>

</body>
</html>
